:root {
  --background-color: teal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 450px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem 0;
}

.card__img {
  width: 100%;
  height: 250px;
}

.card__body {
  padding: 1rem;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  background-color: cornflowerblue;
  padding: 0.1rem 0.3rem;
  font-weight: bold;
  color: black;
}

.card__header {
  margin: 0.5rem 0;
}

.card__description {
  margin: 0.5rem 0;
}

.card__btn {
  padding: 0.5rem;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.card__btn p {
  padding: 0.3rem 1.5rem;
  display: flex;
  justify-items: center;
  align-items: center;
  align-self: center;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
}

.card__btn p:hover {
  cursor: pointer;
  background-color: red;
  color: white;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.clickMoreParagph {
  color: cornflowerblue;
}

.clickMoreParagph:hover {
  cursor: pointer;
}
