* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: pink;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__main {
  background-color: white;
  padding: 2rem;
  width: 450px;
  border-radius: 10px;
  overflow: scroll;
}

.card {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.avatar__image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  pointer-events: none;
}

.card__content {
  padding: 0 1rem;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.btnClearAll {
  background-color: pink;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.btnClearAll:hover {
  cursor: pointer;
}

.card__username {
  font-size: 1.1rem;
}
